<h1>Products <%= @product.name %></h1>
<p><%= @product.description %></p>

<ul class="categories">
	<% @product.categories.each do |category| %>
		<li><%= link_to category.name, category %></li>
	<% end %>	
</ul>
